*
{
	font-size: 15px;
}
body{
    width: 100%;
	height: 100%;
	background-size: cover;
	background-position:  center;
}
nav
{   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	margin-top: 2px;
	width: 99%;
	height: 80px;
	line-height: 3.3rem;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	background-color: transparent;
    opacity: 1;
    background-attachment:fixed ;
    transition: all;

}
nav ul
{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	list-style: none;
	padding-left: 350px;
	text-align: center;
 }
 .link

 {  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 	font-size: 25px;
 	color: #779191;
 	margin-right: 2.2rem;
 	padding: 0 1.5rem;
 	display: inline-block;
 	position: relative;
 	transition: transform 1s ;
    opacity: 1;
 }

 .link:hover
 { 
 	background-color: lightgoldenrodyellow;
 	font-size: 1.7rem;
 	}

 .info{
    
 	width: 370px;
  height: 100px;
  text-align: center;
  margin: 0px;
  color: #daa520;
 }
 .hambox{
    width: 20px;
    height: 20px;
    
    float: right;
    margin-right: 20px;
    display: none;


 }
 .ham1{
    width: 12px;
    height: 0.1px;
    border:0.1px solid whitesmoke ;
    margin-top: 3px;
    margin-left: 3.2px;
    border-radius: 10px;
 }
 .ham2{
    width: 12px;
    height: 0.1px;
    border:0.1px solid whitesmoke ;
    margin-top: 5px;
    margin-left: 3.2px;
    border-radius: 10px;
 }
.ham3{
    width: 12px;
    height: 0.11px;
    border:0.1px solid whitesmoke ;
    margin-top: 5.2px;
    margin-left: 3.2px;
    border-radius: 10px;
}
 
 .info img{
 			margin-left: -45px;
  		margin-top: 100px;
  		width: 250px;
  		height: 250px;
 		 border-radius: 50%;
 }
 .info h1{
 	margin-left: 4px;
  	font-size: 20px;
  	letter-spacing: 2.5px;
 }
 .info h2{
 		margin-left: 15px;
  font-size: 15px;
  letter-spacing: 2.5px;
 }
 .info h3{
 		margin-left: -15px;
  font-size: 14px;
  letter-spacing: 2.5px;
 }
 
 .aboutme{
    color: goldenrod;
    width: 630px;
    height: 90px;
    margin-top: 280px;
    margin-left: 850px;
    
     }
 .aboutme p{
    font-size: 22px;
    
 }
 button {
    background-color: grey;
    border-radius: 5px;
    margin-left: 280px;
    transition: all;
    animation-name: btn;
    cursor: pointer;
 }
 button a {
    color: brown;
 }
 button:active{
    width: 100px;
    height: 40px;
 }
 button:after{
    width: 50px;
    height: 30px;
 }
 footer{
    display: flex;
    background-color: black;
    margin-top: 230px;
    margin-bottom: 20px;
    opacity: 0.7;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    width: 500px;
    height: 70px;
    padding-left: 150px;
    padding-top: -20px;
    

}
footer ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer ul li a{
    display: flex;
    flex-direction: row;
    padding: 7px;
}
.location{
    color: goldenrod;
    width: 200px;
    height:100px ;
    margin-left: 400px;
}
.location h2{
    font-size: 15px;
}
.location h3{
    margin-bottom: -10px;
}
.location h4{

    margin-bottom: -15px;
}


 .report{
    width: 380px;
    height: 100px;
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
    margin-left: 530px;
}
.report h1{
    margin-left: 4px;
    letter-spacing: 2.5px;
    font-size: 20px;
    text-decoration:underline;
}


#detail {
  width: 650px;
  height: 70px;
  padding-top: 40px;
  color: #0b49f9;
  text-transform: uppercase;
  margin-left: 500px;
}
#detail h1{
    margin-left: 4px;
    font-size: 20px;
    letter-spacing: 2.5px;
    padding-left: 150px;
}
#detail p{
    margin-left: 50px;
    font-size: 15px;
    letter-spacing: 2.5px;
    transition: all;
}
#detail p:hover{
    font-size: 18px;
    color: darkblue;
}
form{
    max-width: 500px;
    background: transparent;
    margin-left: 34%;
    box-sizing: border-box;
    margin-top: 5px;
    font-weight: bold;
    color: #061540;
    font-size: 18Spx;
}

.f6{
    text-align:center;

}
.f1,input{
    margin-left: 5%;
    text-align:center ;
    border: transparent;
    border-bottom: 1px solid green;
    margin:5px ;
    padding: 20px 15px;
    margin-top: 5px;

}

.f1, label{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
}
.f1 input, .f1 textarea{
    outline: none;
    border: none;
    background:none;
    font-size: 19px;
    width:45%;
}
.f6 input{
    background-color: #ff5722;
    width: 50%;
    cursor: pointer;
    border-color: transparent;
    margin-top: 20px;
    border-radius: 10px;

}
 #hi{
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
}
section{
    margin-left: 80px;
    margin-top: 50px;
}

.picture1{
    width: 240px;            
background-color: lightgrey;          
height: 280px;
 margin: 0 0 180px 300px;
 text-align: center;
  overflow: hidden;
  cursor: pointer; 
     box-shadow: 5px 3.5px 7px 2px rgba(0, 0, 0, 0.4);
     transition: all;
     transition-duration: 1.5s;
     animation-name: pic1;
     animation-duration: 3s;

}
.picture2{
width: 240px;            
background-color: lightgrey;          
height: 280px;
 margin: -460px 0 80px 800px;
 text-align: center;
  overflow: hidden;
  cursor: pointer; 
     box-shadow: 5px 3.5px 7px 2px rgba(0, 0, 0, 0.4);
     transition: all;
     transition-duration: 1.5s;
     animation-name: pic2;
     animation-duration: 3s;

     }
.picture3{
    width: 240px;            
background-color: lightgrey;          
height: 280px;
 margin: 90px 0 120px 300px;
 text-align: center;
  overflow: hidden;
  cursor: pointer; 
     box-shadow: 5px 3.5px 7px 2px rgba(0, 0, 0, 0.3);
     transition: all;
     transition-duration: 1.5s;
     animation-name: pic3;
     animation-duration: 3s;0

}
.picture4{
    width: 240px;            
background-color: lightgrey;          
height: 280px;
 margin: -400px 0 0 880px;
 text-align: center;
  overflow: hidden;
  cursor: pointer; 
     box-shadow: 5.4px 3.5px 7.3px 2px rgba(0, 0, 0, 0.4);
     transition: all;
     transition-duration: 1.5s;
     animation-name: pic4;
     animation-duration: 3s;


}
.plc1{  margin-top: 200px;
    padding-top: 20px;
    width: 100%;
    height: 40px;
    background-color: brown;
    border: 1px solid black;
    
}

.picture1:hover{
    width: 350px;
    height: 280px;
    font-weight: bold;
}
.picture2:hover{
    width: 350px;
    height: 280px;
    font-weight: bold;
}
.picture3:hover{
    width: 350px;
    height: 280px;
    font-weight: bold;
}
.picture4:hover{
    width: 350px;
    height: 280px;
    font-weight: bold;
}
@keyframes pic1 {
    form {
        width:200px; height: 280px;
        background-color: greenyellow;}
    to {
        width: 240px; height: 280px; background-color: lightgoldenrodyellow;
    }
}
@keyframes pic2 {
    form {
        width:200px; height: 280px;
        background-color: greenyellow;}
    to {
        width: 240px; height: 280px; background-color: lightskyblue;
    }
}
@keyframes pic3 {
    form {
        width:200px; height: 280px;
        background-color: greenyellow;}
    to {
        width: 240px; height: 280px; background-color: lightblue;
    }
}
@keyframes pic4 {
    form {
        width:200px; height: 280px;
        background-color: greenyellow;}
    to {
        width: 240px; height: 280px; background-color: goldenrod;
    }
}
