*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    width: 100%;
    height: 1500px;
	}
   
.img12{
    display: none;
    width: 20px;
    height: 20px;
    margin-left: 50px;
}

#check1{
    display: none;
}

.body11{
    background: url(5.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  center;

}

.body12{
    background: url(16.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  center;
}
.body13{
    background: url(12.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  center;
}
.body14{
    background: url(13.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  center;
}
.body15{
    background: url(15.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  center;
}

nav
{   display: inline-grid;
	margin-top: 12px;
	width: 99%;
	height: 80px;
	line-height: 3.3rem;
	justify-content: space-between;
	text-transform: uppercase;
	background-color: transparent;
    opacity: 1;

}
nav ul
{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	list-style: none;
	margin-left: 350px;
    text-align: center;
 }
 nav ul li a

 {  
 	font-size: 25px;
 	color: #779191;
 	margin-right: 2.2rem;
 	padding: 0 1.5rem;
 	display: inline-block;
 	transition: all 1s ease-in-out;
    opacity: 1;
    text-decoration: none;
    color: #f2b10d;
 }

 nav ul li a:hover
 { 
 	background-color: lightgoldenrodyellow;
 	font-size: 1.7rem;
 	}

 .info{
    
 	width: 370px;
  height: 100px;
  text-align: center;
  margin-top: 100px;
  color: #daa520;
  margin-left: 100px;
 }
 

 
 
 .info img{
 			margin-left: -45px;
  		margin-top: 100px;
  		width: 250px;
  		height: 250px;
 		 border-radius: 50%;
 }
 .info h1{
 	margin-left: 4px;
  	font-size: 20px;
  	letter-spacing: 2.5px;
 }
 .info h2{
 		margin-left: 15px;
  font-size: 15px;
  letter-spacing: 2.5px;
 }
 .info h3{
 		margin-left: -15px;
  font-size: 14px;
  letter-spacing: 2.5px;
 }
 
 .aboutme{
    color: goldenrod;
    width: 530px;
    height: 90px;
    margin-left: 750px;
margin-top: 250px;    
     }
 .aboutme p{
    font-size: 22px;
    
 }
 button {
    background-color: grey;
    border-radius: 5px;
    margin-left: 280px;
    transition: all;
    animation-name: btn;
    cursor: pointer;
 }
 button a {
    color: brown;
 }
 button:active{
    width: 100px;
    height: 40px;
 }
 button:after{
    width: 50px;
    height: 30px;
 }
 footer{
    display: flex;
    margin-top: 200px;
    margin-bottom: 20px;
    margin-left: 70px;
    opacity: 0.7;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    width: 500px;
    height: 70px;
    padding-left: 250px;
   
    

}

footer ul li a{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 7px;
}
.location{
    color: goldenrod;
    width: 300px;
    height:100px ;
    margin-left: 400px;
}
.location h2{
    font-size: 20px;
}
.location h3{
    margin-bottom: -5px;
}
.location h4{

    margin-bottom: -15px;
}


 .report{
    width: 380px;
    height: 100px;
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
    margin-left: 530px;
    color: orangered;
}
.report h1{
    margin-left: 4px;
    letter-spacing: 2.5px;
    font-size: 20px;
    text-decoration:underline;
}


#detail {
  width: 650px;
  height: 70px;
  padding-top: 40px;
  color: #0b49f9;
  text-transform: uppercase;
  margin-left: 500px;
}
#detail h1{
    margin-left: 4px;
    font-size: 20px;
    letter-spacing: 2.5px;
    padding-left: 150px;
}
#detail p{
    margin-left: 50px;
    font-size: 15px;
    letter-spacing: 2.5px;
    transition: all;
}
#detail p:hover{
    font-size: 18px;
    color: lightgreen;
}
form{
    max-width: 500px;
    background: transparent;
    margin-left: 34%;
    box-sizing: border-box;
    margin-top: 5px;
    font-weight: bold;
    color: goldenrod;
    font-size: 18px;
}

.f6{
    text-align:center;

}
.f1,input{
    margin-left: 5%;
    text-align:center ;
    border: transparent;
    border-bottom: 1px solid green;
    margin:5px ;
    padding: 20px 15px;
    margin-top: 5px;

}

.f1, label{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: green;
}
.f1 input, .f1 textarea{
    outline: none;
    border: none;
    background:none;
    font-size: 19px;
    width:45%;
    color: greenyellow;

}
.f6 input{
    background-color: #ff5722;
    width: 50%;
    cursor: pointer;
    border-color: transparent;
    margin-top: 20px;
    border-radius: 10px;

}
 #hi{
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
}

.sec1{
    display: grid;
    grid-row: auto ;
    margin-top: 200px;
}
.picture1{
    width: 280px;            
background-color: lightgrey;          
height: 285px;
 margin: 0 0 180px 300px;
 text-align: center;
  overflow: hidden;
  cursor: pointer; 
     box-shadow: 5px 3.5px 7px 2px rgba(0, 0, 0, 0.4);
     transition: all 1.5s ease;
     

}
.picture2{
width: 280px;            
background-color: lightgrey;          
height: 280px;
 margin: -460px 0 80px 800px;
 text-align: center;
  overflow: hidden;
  cursor: pointer; 
     box-shadow: 5px 3.5px 7px 2px rgba(0, 0, 0, 0.4);
     transition: all 1.5s ease;
     
     
     }
.picture3{
    width: 280px;            
background-color: lightgrey;          
height: 280px;
 margin: 90px 0 120px 300px;
 text-align: center;
  overflow: hidden;
  cursor: pointer; 
     box-shadow: 5px 3.5px 7px 2px rgba(0, 0, 0, 0.3);
     transition: all 1.5s ease;
     
}
.picture4{
    width: 280px;            
background-color: lightgrey;          
height: 280px;
 margin: -400px 0 0 800px;
 text-align: center;
  overflow: hidden;
  cursor: pointer; 
     box-shadow: 5.4px 3.5px 7.3px 2px rgba(0, 0, 0, 0.4);
     transition: all 1.5s ease;
     


}
.plc1{ 
    padding-top: 35px;
    width: 100%;
    height: 120px;
    background-color: brown;
    border: 1px solid black;
    
}

.picture1:hover{
    width: 350px;
    height: 280px;
    font-weight: bold;
}
.picture2:hover{
    width: 350px;
    height: 280px;
    font-weight: bold;
}
.picture3:hover{
    width: 350px;
    height: 280px;
    font-weight: bold;
}
.picture4:hover{
    width: 350px;
    height: 280px;
    font-weight: bold;
}
.sec1 img{
    width: 100%;
}
.picture1 img{
    height: 220px;
}
.picture2 img{
    height: 220px;
}
.picture3 img{
    height: 220px;
}
.picture4 img{
    height: 220px;
}

.body1{
    width: 60%;
    height: 950px;
    background-color: white;
    margin-top: 80px;
    margin-left: 280px;
     box-shadow: 5px 3.5px 7px 2px rgba(0, 0, 0, 0.45);
     opacity: 0.89;

}
#body2{
    width: 270px;
    height: 950px;
    background-color: lightgrey;
}
#body2 img{
    border-radius: 50%;
    padding-top: 20px;
    margin-left: 23px;
    margin-top: 20px;
    width: 200px;
    height: 200px;
}
#body2 h1{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: brown;
}
.cnt{
    text-align: center;
    width: 150px;
    border-bottom:2px solid ;
    margin-left: 50px;
    font-size: 20px;
    background: lightgreen;
}
.add{
    text-align: center;
    border-bottom: 2px solid black;
    background-color: lightgreen;
    width: 150px;
    margin-left: 50px;
    margin-top: 10px;
}
h4{
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.7px;
    background: lightgreen;
}
.p-add{
    margin-top: 5px;
    text-align: center;
    
}
.email,.cnt1{
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    background: lightgreen;
}
.g-mail,.phn{
    text-align: center;
    letter-spacing: 0.8px;
    margin-top: 6px;
}
#p-det{
    text-align: center;
    letter-spacing: 0.8px;
    width: 150px;
    border-bottom: 2px solid black;
    margin-left: 50px;
    letter-spacing: 1px;
    font-size: 15px; 
   background-color: lightgreen;
   margin-top: 5px;

}
.skill{
    list-style-type: none;
    margin-right:50px;
}
.skill li{
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 8px;
}
#hobby{
    text-align: center;
    width: 150px;
    border-bottom: 2px solid black;
    margin-left: 50px;
    margin-top: 8px;
    letter-spacing: 0.5px;
    font-size: 15px;
    background-color:lightgreen;
}
#hobby1{
    list-style: none;
    margin-top: 6px;
    margin-left: 50px;
}
#hobby1 li{
    margin-top: 6px;
    font-size: 16px;
}
.body3{
    width: 610px;
    height: 945px;
    margin-left: 280px;
    margin-top: -780px;
}

.body3 #summary1{
width: 94%;
margin-top: 5px;
margin-left: 20px;
font-size: 18px;
padding-top: 3px;
}
.body3 h2{
    border-bottom: 2px solid black;
    margin-top:10px;
}

.body3 h3{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
}
.body3 p{
    width: 94%;
margin-top: 5px;
margin-left: 20px;
font-size: 18px;
}
.training1{
    margin-top: 20px;
    list-style: none;
    margin-left: 40px;
}
.training1 li{
    padding-top: 10px;
    font-size: 18px;
    margin-left: -17px;
    letter-spacing: 0.5px;
    margin-top: 5px;

}

.exp{
    font-size: 25px;
    width: 94%;
    border-bottom: 2px solid black;
    margin-top: 30px;
    padding-top: 20px;
}

.exp p{
    font-size: 22px;
    margin-top: 6px;
}
#site1{
    background-color: lightsalmon;
    width: 1000px;
    height: 100%;
    margin-left: 250px;
    top: 50px;
}

.exp1 h1{
    text-align: center;
    text-transform: uppercase;
    background-color: lightyellow;
    margin-top: 2px;
}
.exp1 p{
    margin: 20px;
    font-size: 18px;

}
.rep1 h2{
    text-align: center;
    background-color: lightyellow;
}
#home1{
    width: 100%;
}

#home1 h2{
    text-align: center;
    margin-top: 10px;
    background-color: greenyellow;
}
#home1 p{
    font-size: 18px;
}

.home-1 img{
    width: 40%;
    height: 250px;
    margin: 10px 0 0 65px;
}
.home2{
    
    margin: 20px ;
}
.home2 p{
    font-size: 18px;
}
#port1 h2{
    background-color: greenyellow;
    margin-top: 10px;
}
#port1 p{
    font-size: 18px;
    margin-top: 5px;
}

#cont1 h2{
    background-color: greenyellow;
    margin-top: 20px;
    
}
#cont1 p{
    font-size: 18px;
    margin-top: 5px;
}
#cv1 h2{
    background-color: greenyellow;
    margin-top: 10px;
}
#cv1 p{
    font-size: 18px;
    margin-top: 5px;
}
#site2 h2{
    text-align: center;
    background-color: yellow;
}
#site2 p{
    font-size: 18px;
    margin-top: 10px;
}
#site2 img{
    display: block;
    width: 100%;
    margin: 10px 20px 0 0;
}
#site2 .val1 p{
    margin: 20px;
    font-size: 18px;

}
#ref1{
    text-align: center;
    background-color: lightyellow;
    margin-top: 5px;
}
.ref-1 h2{
    text-align: center;
    background-color: lightgreen;
    margin-top: 5px;
}

.ref-1 h3{
    text-align: center;
}
.ref-1 p{
    margin: 20px;
    text-align: center;
}
.profile1 h2{
    background-color: green;
}
.cssv1{
    display: inline-grid;
    grid-template-rows: auto  ;
    position: relative;
    left: 25%;
    align-content: center;
    margin: 10px;
}
.cssv1 img{
    display: grid;
    grid-gap: auto;
}
@media all and (max-width: 1100px) and (min-width: 701px){
   
   .body11{
    width: 100%;
    

   }
   .body12{
     width: 100%;
   }
   .body13{
     width: 100%;
   }
   .body14{
     width: 100%;
   }
   .body15{
     width: 100%;
   }
#check1{
    display: none;
    }
    #check1:checked~ nav ul{
        top: 0%;
    }
    .img12{
        display: block;
        margin-top: 40px;
        margin-left: 10px;
        cursor: pointer;
    }
   
   nav{
    display: grid;
    width: 1000px;
    
   }
   nav ul{
    width: 900px;
    margin-left: 75px;
    position: fixed;
    top: -100%;
    transition: all 1s ease;
   }
   nav ul li a{
    font-size: 20px;
   }

   
   .info{
    height: 520px;
   }
   .info h1{
    font-size: 15px;
    text-align: center;
    margin-left: -101px;
}
.info h2{
    font-size: 12px;
    margin-left: -100px;
}
.info h3{
    font-size: 11px;
    margin-left: -100px;
}
.aboutme{
    margin-left: 500px;
    margin-top: -160px;
    width: 400px;
}
.aboutme p{
    font-size: 12px;
    text-align: center;
}
button{
    width: 50px;
    height: 40px;
    margin-left: 150px;
    margin-top: 20px;
}

footer{
    width: 1000px;
    margin-left: 50px;
    background: transparent;
    height: 50px;


}
footer ul{
    padding-top: 0;
    padding-left: 0;
    margin-left: 60px;
}
.location{
    margin-left: -70px;
}
.sec1{
    margin-left: 150px;
}
.picture1{
    margin-left: 0px;
}
.picture2{
    margin-left: 440px;
}
.picture3{
    margin-left: 1px;
}
.picture4{
    margin-left: 440px;
}
.report{
    margin-left: 270px;
    text-align: center;
}


#detail{
    margin-left: 260px;
}
form{
    margin-left: 250px;
}
.body1 {

    width: 950px;
    height: 950px;
    margin-top: 31px;
    margin-left: 80px;
}


    #body2{
        margin-left: -40px;
    }

#body2 img{
    margin-left: 24px;
}
.body3{
    width: 700px;
}


#site1{
    margin-left: 28px;
}
}
@media all and (max-width: 700px) and (min-width: 300px) {
    
        
    
    #check1{
    display: none;
}
#check1:checked~ nav ul {
    top: 0%;
}
nav{
        margin-left: -100px;
    }
    nav ul{
       display: grid;
       grid-row: auto;
        position: fixed;
        top: -100%;
        transition: all 1s ease;
        cursor: pointer;
        
    }

    nav ul li a {
        margin-left: 115px;


    }
    .img12{
        display: block;
        width: 40px;
        height: 30px;
        margin-top: 30px;
        margin-left: 10px;
    }

    .info{
        margin-left: 250px;
        margin-top: 230px;
    }
    .info h1{
        font-size: 22px;
    }
    .info h2{
        font-size: 20px;
    }
    .info h3{
        font-size: 21px;
    }
    .aboutme{
        margin-top: 500px;
        margin-left: 180px;
    }
    .aboutme p{
        font-size: 23px;
    }
    footer{
        display: inline-block;
        
        margin-top: 250px;
        background-color: transparent;

    }
    footer ul{
        padding-left: 20px;
    }
    .location{
        margin-left: 450px;
        margin-top: -100px;
    }
.report{
    padding-top: 254px;
    margin-left: 165px;
}
.sec1{
    margin-left: 70px;
}
.picture1{
    width: 350px;
    margin-left: 56px;
}
.picture2{
    width: 350px;
    margin-top: -100px;
    margin-left: 54px;
}
.picture3{
    width: 350px;
    margin-left: 56px;
    margin-top: 40px;
}
.picture4{
    width: 350px;
    margin-left: 56px;
    margin-top: -20px;
}
#detail{
    margin-top:170px;
    margin-left: 200px;
}
form{
    margin-top: 50px;
    margin-left: 300px;
    width: 320px;
}
.body1{
    margin-top: 200px;
    margin-left: -5px;
    background-color: white;
    width: 900px;
    
}

#site1{
    margin-top: 130px;
    margin-left: -10px;
}
}